.navstyle {
  padding: 20px;
}
.navstyle > li {
  padding: 15px;
  list-style: none;
  font-size: 18px;
}
.navstyle > li > a {
  text-decoration: none;
  color: grey;
  background-color: none;
}

.navstyle > li > a.active,
.navstyle > li > a :hover {
  color: #2a65a6d4;
  background: none;
}
.navimage {
  display: flex;
}
.navimage > a {
  text-decoration: none;
  color: grey;
  background-color: none;
  padding: 5px 0 0 10px;
}

.navimage > a.active,
.navimage > a :hover {
  color: #2a65a6d4;
  background: none;
}
